body {
    background-color: #343a40 !important;
}

.nav-btn{
    color: white;
    text-decoration: none;
}
.nav-btn:hover{
    color: rgba(255, 255, 255, 0.7);
}
.container{
    margin: 60px auto;
}
