body {
    background: skyblue;
}
* {
    font-family:"微軟正黑體";
}
.container {
    background: white;
     text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    max-width: 1140px;
}
img.sex {
    width:25px;
}
span {
    font-size: 10px;
}
img.smIcon {
    border: 0;
    width: 16px;
}
.select {
      position: relative;
      font-family: Arial;
     text-align: center;
}